
  .Getbtn{
    color: white;
    background-color:#264373;
    height: 56px;
    width:246px;
    align-items: center;
    justify-content: center;
  } 

  .Learnbtn{
    margin-left: 30px;
    background-color: white;
    color: #264373;
    height: 56px;
    width:174px;
    align-items: center;
    justify-content: center;
  }

  
  .main{
    background-color: #6462F0;
    border-radius: 30px;
    height: 274px;
  
  }
  .icon{
    background-color:rgba(149, 146, 196, 0.2);
border-radius: 20px;
height: 100px;
width: 100px;

  }